body, html {
  width: 100%;
  height: 100%;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  scroll-behavior: smooth;
  color: #030b1c;
}

.row {
    width: 100%;
    margin: 0;
}

.col {
  padding: 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1200px;
}

#intro {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(img/intro-background.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #f6f9fe;
}

.nameHeader {
    background-color: #f6f9fea4;
    border-radius: 10px;
    margin: 0px 70px;
    padding: 60px;
}

.nameHeader h1 {
    margin: 0;
    padding: 0;
    font-size: 7em;
    font-weight: 900;
    line-height: 1em;
    color: #0B4FD5;
}

.nameHeader h4 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    color: #0B4FD5;
}

.line {
    display: block;
    width: 290px;
    height: 3px;
    padding: 0!important;
    background:#0B4FD5;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

#intro .line {
    background-color: #D5910B;
}

.navbar h6 {
    font-size: larger;
    margin-bottom: 0px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

#resume {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #D5910B;
    padding: 0px;
    margin-right: 2em;
}

a:link {
    color: #0B4FD5;
}

#carouselIndicators {
    width: fit-content;
}

.carousel-inner {
    max-width: 350px;
}

#hi {
    padding-top: 20px;
}

#hobbies {
    max-width: 800px;
    padding-top: 40px;
}

#hobbies h4 {
    padding-bottom: 10px;
}

.section {
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
    background-color: #f6f9fe;
}

.section-alt {
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
    background-color: #80808040;
}

.section-title {
    padding: 0;
    font-size: 2.250em;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.05em;
}

.separator {
    display: block;
    width: 50px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 0!important;
    background: #0B4FD5;
}

.navbar {
    z-index: 999;
    width: 100%;
    padding: 0px;
    background-image: linear-gradient(to bottom, #808080a6, #808080);
}

.nav-link {
    color: #0B4FD5;
}

.nav-item {
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 1.25em;
}

.navbar-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav>li:first-child{
   border: none;
}

.nav-link:hover {
    color: #f6f9fe;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    background-image: linear-gradient(to bottom, #adadad, #808080);
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-left: 0.5rem;
    font-size: 2.5rem;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 82, 130, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler {
  border-color: #0B4FD5;
  margin-right: 0.5rem;
} 

.round-pic {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.rect-pic {
    object-fit: fill;
    height: 150px;
    width: 250px;
}

#projects {
    max-width: 800px;
    padding-top: 40px;
}

#email-link {
    color: #030b1c;
}

#form-contact-container .col {
    padding: 2px;
}

#footer {
    padding: 10px;
}

#footer h6 {
    margin-bottom: 0px;
}